{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Contact Us</h1>
    <div class="contact-info">
        <p>Reach out to me!</p>
        <ul>
            <li>Email: <a href="mailto:bishtshaurya314@gmail.com">bishtshaurya314@gmail.com</a></li>
            <li>GitHub: <a href="https://github.com/ssbdragonfly" target="_blank">github.com/ssbdragonfly</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/shaurya-bisht-6857732b1//" target="_blank">https://www.linkedin.com/in/shaurya-bisht-6857732b1/</a></li>
        </ul>
    </div>
</div>
{% endblock %}
