{% extends "base.html" %}
{% block content %}
<main class="container mt-5">
    <h2>Upload History</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Filename</th>
                <th>Model</th>
                <th>Prediction</th>
            </tr>
        </thead>
        <tbody>
            {% for item in history %}
            <tr>
                <td>{{ item.filename }}</td>
                <td>{{ item.model_name }}</td>
                <td>{{ item.prediction }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}
