{% extends "base.html" %}
{% block content %}
<div class="text-center mt-5">
    <h1>Welcome to Tray API</h1>
    <p>A simple web application for food image classification. Will expand upon soon.</p>
    <a href="/api/food_image_classifier" class="btn btn-primary">Food Image Classifier</a>
    <a href="/api/ingredient_detector" class="btn btn-primary">Ingredient Detector</a>
    <a href="/api/cuisine_recognition" class="btn btn-primary">Cuisine Recognition</a>
    <a href="/api/nutrition_predictor" class="btn btn-primary">Nutrition Predictor</a>
</div>
{% endblock %}
